@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

@font-face {
  font-family: 'Deutschlander';
  src: url('../fonts/Deutschlander.woff2') format('woff2'),
      url('../fonts/Deutschlander.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: white;
}

::selection {
  background: var(--ye);
  color: var(--dddd);
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: hsl(240, 13%, 9%);
  color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  letter-spacing: normal;
}

body:before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  mix-blend-mode: luminosity;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.25s linear;
}

a:hover {
  color: rgb(180, 180, 180);
}

a:active,
a:hover {
  outline-width: 0;
}

svg {
  width: 100%;
}

.featured {
  font-family: 'Deutschlander', sans-serif;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.article-page {
  position: relative;
  margin-top: 5rem;
}

.article-page > .inner {
  margin: 0 auto;
  width: calc(100% - 30rem);
}

.cta {
  position: relative;
  top: 5rem;
  width: 5rem;
  height: 5rem;
  display: grid;
  place-content: center;
}
.button {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid rgba(255,255,255,.1);
  display: grid;
  place-content: center;
}
.button::before, .button::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 1px;
  background: #fff;
}
.button::before {
  top: 0;
  left: 0;
}
.button::after {
  bottom: 0;
  right: 0;
}
.button svg {
  width: 1.5rem;
  height: 1.5rem;
}

.for-desktop {
  display: flex;
}
.for-mobile {
  display: none;
}

@media screen and (max-width: 90rem) { 
  .article-page > .inner {
    width: calc(100% - 20rem);
  }
}

@media screen and (max-width: 60rem) {
  .for-desktop {
    display: none;
  }
  .for-mobile {
    display: flex;
  }
  .article-page > .inner {
    width: calc(100% - 10rem);
  }
}