@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

:root {
  --darkest: hsl(240, 13%, 9%);
}
* {
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: white;
}

::selection {
  background: var(--ye);
  color: var(--dddd);
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Rajdhani', sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: var(--darkest);
  color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: normal;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.25s linear;
}

a:hover {
  color: rgb(180, 180, 180);
}

a:active,
a:hover {
  outline-width: 0;
}

svg {
  width: 100%;
}

.featured {
  font-family: 'Chakra Petch', sans-serif;
  text-transform: uppercase;
}

.article-page {
  position: relative;
  margin-top: 5rem;
}

.article-page > .inner {
  margin: 0 auto;
  width: calc(100% - 30rem);
}

.button.cta {
  position: fixed;
  top: 2.5rem;
  right: 6rem;
  z-index: 20;
}
.button {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid rgba(255,255,255,.1);
  background: hsl(240, 13%, 9%);
  display: grid;
  place-content: center;
  cursor: pointer;
}
.button::before, .button::after {
  content: '';
  position: absolute;
  width: .5rem;
  height: 1px;
  background: rgba(255,255,255,.5);
}
.button::before {
  top: -1px;
  left: -1px;
}
.button::after {
  bottom: -1px;
  right: -1px;
}
.button svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}

.for-desktop {
  display: flex;
}
.for-mobile {
  display: none;
}

@media screen and (max-width: 90rem) { 
  .article-page > .inner {
    width: calc(100% - 20rem);
  }
}

@media screen and (max-width: 60rem) {
  .for-desktop {
    display: none;
  }
  .for-mobile {
    display: flex;
  }
  .article-page > .inner {
    width: calc(100% - 10rem);
  }
}

@media screen and (max-width: 30em) {
  .cta {
    top: auto;
    bottom: 0;
  }
}